{% extends "base.html" %}

{% block content %}
    <a href="{% url 'quizgame:hiragana-create-question' %}">Step 1: Add a new Hiragana Question</a>
    <a href="{% url 'quizgame:hiragana-create-answer' %}">Step 2: Configure answer for Hiragana Question</a>

    <h2>Hiragana Question List</h2>

        {% for hiragana in hiragana %}
        <div class="hiragana">
            Question: {{ hiragana }} Answer: {{ hiragana.hiragana_question.question_text }} - 
            <a href="{% url 'quizgame:hiragana-delete' hiragana.pk %}">Delete</a>
        </div>
        {% endfor %}
{% endblock content %}